<footer class="site-footer">

    <div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-16">
		<div class="wsite-section-content">
          <div class="container">
			<div class="wsite-section-elements">
				<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:9.2785666689644%; padding:0 15px;">



<h2 class="wsite-content-title"><font color="#c2a43b" size="4">EMAIL</font></h2>



				</td>				<td class="wsite-multicol-col" style="width:25.122122340103%; padding:0 15px;">



<div class="paragraph"><span style="color:rgb(213, 213, 213)">yourname@007museum.com</span><br><span style="color:rgb(213, 213, 213)">support@007museum.com</span></div>



				</td>				<td class="wsite-multicol-col" style="width:10.306696374827%; padding:0 15px;">



<h2 class="wsite-content-title"><font color="#c2a43b" size="4">PHONE</font></h2>



				</td>				<td class="wsite-multicol-col" style="width:14.725172824138%; padding:0 15px;">



<div class="paragraph"><span style="color:rgb(213, 213, 213)">415.555.2530</span><br><span style="color:rgb(213, 213, 213)">415.555.9932​</span></div>



				</td>				<td class="wsite-multicol-col" style="width:18.713240464009%; padding:0 15px;">



<h2 class="wsite-content-title"><font color="#c2a43b" size="4">ADDRESS</font></h2>



				</td>				<td class="wsite-multicol-col" style="width:21.854201327958%; padding:0 15px;">



<div class="paragraph"><span style="color:rgb(213, 213, 213)">Emmabodavägen 20, 382 45 Nybro, Sweden​</span></div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div style="text-align:center;"><div style="height:0px;overflow:hidden"></div>
<span class="wsite-social wsite-social-default"></span>
<div style="height:0px;overflow:hidden"></div></div>
			</div>
		</div>
      </div>

	</div>
</div>

  <p>Copyright&copy; 2020 Favela</p>
</footer>
