
<!-- Main navigation bar using bootstrap-------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-item nav-link " href="{{ '/' | relative_url }}" {% if page.url == page.permalink %}active{% endif %}>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ '/menu/' | relative_url }}" {% if page.url == page.permalink %}active{% endif %}>Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#" {% if page.url == page.permalink %}active{% endif %}>Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ '/about/' | relative_url }}" {% if page.url == page.permalink %}active{% endif %}>About</a>
        </li>
      </ul>
    </nav>

<!-- End Main navbar----------------------------------------------------------------------->
    <header class="page-header justify-center" role="banner">
      <h1 class="project-name justify-center">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>
