
<!-- Main navigation bar using bootstrap-------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-item nav-link active" href="/lis786-lfav/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href=" ">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/lis786-lfav/about/">About</a>
        </li>
      </ul>
    </nav>

<!-- End Main navbar----------------------------------------------------------------------->
<div class="parallax"><img src="https://images.unsplash.com/photo-1581911823256-694b27332788?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt=""></div>
<div style="height:1000px;background-color:red;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

    </header>
