
<!-- Main navigation bar using bootstrap-------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-item nav-link active" href="/lis786-lfav/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href=" ">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/lis786-lfav/about/">About</a>
        </li>
      </ul>
    </nav>

<!-- End Main navbar----------------------------------------------------------------------->
    <header class="page-header" role="banner">
      <h1 class="project-name justify-center">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>

    <div class="parallax-wrapper">
            <div class="content">
                  <h1>Deliciosos Churros</h1>
                  <p>Our food is the reason we started Hechurros. It’s too good not to share! We make Churros from scratch
                  and dress them your way. Fresh, quality ingredients and no shortcuts.</p>
                  <div class="squiggle">
                    <a href="/lis786-lfav/about/" id="underline">Mas about us &#x2192;</a>
                  </div><br>
            </div>
    </div>

    <img src="\lis786-lfav\assets\images\churrosprint (2).png" alt="mexican pattern">
