---
---
.project-name{
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  color:#fff;
  font-size: 3em;
}
.page-header{
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1581911823256-694b27332788?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  background-size: cover;
  background-position: center center;
  height: 300px;
  text-align: center;
  align-content:center;
  padding-top:100px;
}
.page-hechurros-cafe .page-header { height: 500px; }
ul.nav.nav-tabs {
    float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  margin-top:10px;
}

li {
  float: left;
  margin-left:auto;
  padding-left:10px;
}

li a {
  margin-left:auto;
  display: block;
  color: #1A098C;
  font-size:22px;
  text-align: center;
  padding:16px;
  text-decoration: none;
}
.container-fluid{background-color:#2980B9; color:#fff; width:100%; padding-left:150px; padding-bottom:10px; padding-top:10px;}
li a:hover {
	color:#ADA538;
	border-bottom:solid 1px #ADA538;
    background-color: #FFFEED;
}

.navbar{
  background-color:#FFE65E;
  justify-content: center;
  font-family: 'Special Elite', cursive;
}
.navbar-nav{
  justify-content: center;
}

.navbar a{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.1em;
  color: #B5651D;
  font-weight: 500;
}
img#locations {
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
p#description {
  text-align: center;
  margin:-50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.churros{
  margin: 40px;
}
.churro{
  float:left;
  width:33%;
  box-sizing: border-box;
  padding: 0 30px;
  height: 300px;
}
.active {
  margin-top: 0px;
  content: "";
    display: block;
    margin: 0 auto;
}
a{
  color:#1E2749;
  display: block;
  padding: 10px 30px;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4,{
    font-weight:bold;
}
h1,h2,h3{color:#68A000; font-weight: 800;}
h1#pon-la-orden, h3#title{
  text-align: center;
}
body,main{background-color: #FFE65E;}
html {
    overflow: hidden;
}
body {
    margin: 0;
    font-size: 26px;
    font-family: 'Libre Franklin', sans-serif;
    color: #B5651D;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:auto;
}
.content {
    width: 50%;
    margin-top:-250px;
    align-content: center;
}


a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: green;
  text-decoration: none;
}

a:hover {
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#F8333C;
}

.col-sm-4 {
  padding:15px;
}
.col-sm-3{
  margin:-20px;
  padding:10px;
}
.image{
  margin-left: -250px;
    min-width: 160%;
    max-height:50%;
}
.main-content{
  margin-top: 15px;
padding-top: 0px;
}

footer{
  background-color:#68A000;
  height:auto;
  width: 100%;
  padding-bottom: 20px;
  align-content: center;
  color: #FFE65E;
}
.social {
  text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa {
  padding: 10px;
  font-size: 40px;
  margin-left:20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
h4{text-align: center;}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
form.form-inline {
    margin-left: 100px;
}
@media only screen and (min-width: 1900px){
  form.form-inline {
      margin-left: 300px;
  }
  .navbar{
      justify-content: center;
  }
}
@media only screen and (max-width:300px){
  .navbar{
    justify-content:flex-end;
  }
}
@media only screen and (max-width: 600px) {
  .navbar{
    justify-content: flex-end;
  }
  .churro {
    width: 50%;
  }
  body {
      margin: 0;
      font-size: 26px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #B5651D;
      height: 100vh;
      perspective: 0;
      transform-style: flat;
      overflow-x:hidden;
      overflow-y:auto;
  }
  .parallax-wrapper {
      width: 190vw;
      height:30vh;
      padding-top:0vh;
      box-sizing: border-box;
      transform-style: flat;
      margin-top: -200px;
  }
  .parallax-wrapper::before {
      content:"";
      width: 190vw;
      height:30vh;
      top:0 ;
      left:0;
      background-color:#FFE65E;
      position: none;
      z-index: none;
      transform:none;
  }
  .page-header{
    max-height: 300px;
    padding-top: 100px;

  }
  .project-name {
    font-size: 2em;
  }
  .content{
    width:40%;
    padding-left: 10px;

  }
  .main-content img {
    width: 600px;
    padding-bottom: 20px;
    float: none;
}
}
