---
---
.project-name{
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  color:#fff;
  font-size: 3em;
}
.page-header{
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1581911823256-694b27332788?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  background-size: cover;
  background-position: center center;
  height: 500px;
  text-align: center;
  align-content:center;
  padding-top:100px;
}
.navbar{
  background-color:#FFE65E;
  justify-content: center;
  font-family: 'Special Elite', cursive;
}
.navbar-nav{
  justify-content: center;
}
.navbar-toggler{ }
.navbar a{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.1em;
  color: #B5651D;
  font-weight: 500;
}
li a:hover:not(.active) {
  border-top:3px solid #F8333C;
  color:#F8333C;
}
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
.active {

  border-top:3px solid #F8333C;
  color:#F8333C;
  margin-top: 0px;
  content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
}
a{
  color:#1E2749;
  display: block;
  padding: 10px 30px;
}
h2,h3{color:#68A000;}
body,main{background-color: #FFE65E;}
html {
    overflow: hidden;
}
body {
    margin: 0;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B5651D;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}
.parallax-wrapper {
    width: 190vw;
    height:30vh;
    padding-top:0vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    margin-top: -200px;
}
.parallax-wrapper::before {
    content:"";
    width: 190vw;
    height:30vh;
    top:0 ;
    left:0;
    background-color:#FFE65E;
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

.content {
    width: 30%;
    margin-top:-250px;
    align-content: center;
}
a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#F8333C;
}
#underline{width: 50%; color:#659906;}
 img{
  min-width:40%;

}

.col-sm-4 {
  padding:15px;
}
.col-sm-3{
  margin:-30px;
  padding:10px;
}
.image{
  margin-left: -250px;
    min-width: 160%;
    max-height:50%;
}
.main-content{
  margin-top: 15px;
padding-top: 0px;
}
@media only screen and (max-width: 600px) {
  body {
      margin: 0;
      font-size: 26px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #B5651D;
      height: 100vh;
      perspective: 0;
      transform-style: flat;
      overflow-x:hidden;
      overflow-y:auto;
  }
  .parallax-wrapper {
      width: 190vw;
      height:30vh;
      padding-top:0vh;
      box-sizing: border-box;
      transform-style: flat;
      margin-top: -200px;
  }
  .parallax-wrapper::before {
      content:"";
      width: 190vw;
      height:30vh;
      top:0 ;
      left:0;
      background-color:#FFE65E;
      position: none;
      z-index: none;
      transform:none;
  }
  .page-header{
    max-height: 300px;
    padding-top: 100px;

  }
  .project-name {
    font-size: 2em;
  }
  .content{
    width:40%;
    padding-left: 10px;

  }
  #underline{
    width:100%;
  }
  .main-content img {
    margin-left: -250px;
    min-width: 200%;
    max-height: 50%;
    padding-top: 50px;
}
}
