---
---
.page-header{
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1581911823256-694b27332788?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  background-size: cover;
  background-position: center canter;
  height: 400px;
}
.navbar{
  background-color:#FFCC42;
  justify-content: center;

}
.navbar-nav{
  padding-left: 400px;
  justify-content: center;
}
.navbar-toggler{}
.navbar a{
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
}
